# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
build/
pubspec_overrides.yaml

# Android
**/android/**/gradle-wrapper.jar
.gradle/
**/android/captures/
**/android/.gradle/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.keystore
*.jks

# Windows
**/windows/flutter/ephemeral/

# Symbolication / obfuscation
app.*.symbols
app.*.map.json

# Coverage
coverage/
